section {
	margin: 3vw 0;
}
h1 {
	font-size: 4vw;
	color: #000;
	text-align: center;
	margin: 2vw 0;
	font-weight: bold;
	text-align: left;
	@include media ($tablet) {
		font-size: 26px;
		margin: 15px 0;
	}
	@include media ($mobile) {
		font-size: 22px;
		margin: 10px 0;
	}
}
h2 {
	font-size: 2vw;
	color: #9c9a9b;
	text-align: center;
	margin: 1vw 0;
	span {
		font-weight: bold;
		color: #f74f42;
	}
	@include media ($tablet) {
		font-size: 26px;
		margin-bottom: 15px;
	}
	@include media ($mobile) {
		font-size: 22px;
		margin-bottom: 10px;
	}
}
h3 {
	font-size: 2vw;
	color: #f9837a;
	text-align: center;
	margin: 0 0 1vw 0;
	font-weight: bold;
	@include media ($tablet) {
		font-size: 20px;
	}
	@include media ($mobile) {
		font-size: 18px;
	}
}
h4 {
	font-size: 2vw;
	color: #9c9a9b;
	text-align: center;
	margin: 15px 0;
	@include media ($tablet) {
		font-size: 20px;
		margin: 10px 0;
	}
	@include media ($mobile) {
		font-size: 18px;
		margin: 10px 0;
	}
}
h5 {
	font-size: 22px;
	color: #fff;
	@include media ($tablet) {
		font-size: 20px;
	}
	@include media ($mobile) {
		font-size: 18px;
	}
}
p {
	font-size: 1.3vw;
	color: #fff;
	text-align: center;
	@include media ($tablet) {
		font-size: 16px;
	}
	@include media ($mobile) {
		font-size: 14px;
	}
}

.clear {
	clear: both;
}

#up-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff3f1c;
	transition: 0.5s all;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	i {
		font-size: 18px;
		color: #fff;
		@include media ($mobile) {
			font-size: 14px;
		}
	}
	&:hover {
		background: #000;
	}
	@include media ($mobile) {
		bottom: 10px;
		right: 10px;
		width: 35px;
		height: 35px;
	}
}
.navbar-fixed {
	position: fixed !important;
	top: 0;
	left: 0;
	margin-top: 0px !important;
	background: #303030;
	z-index: 3 !important;
	width: 100%;
	#navbar {
		ul {
			margin: 10px;
			li {
				a {
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	&:hover, &:focus {
		background: transparent;
	}
}

.icon-bar {
	transition: 0.3s all;
	&:nth-of-type(2) {
		position: absolute;
		top: 0;
		right: 0;
	}
	&:nth-of-type(3) {
		position: absolute;
		top: 2px;
		right: 0;
	}
	&:nth-of-type(4) {
		position: absolute;
		top: 8px;
		right: 0;
	}
}
.navbar-toggle-close {
	.icon-bar {
		&:nth-of-type(2) {
			display: none;
		}
		&:nth-of-type(3) {
			transform: rotate(135deg);
		}
		&:nth-of-type(4) {
			transform: rotate(-135deg);
			top: 2px;
		}
	}
}
.navbar-toggle {
	margin-top: 15px;
	margin-bottom: 15px;
}
.icon-bar-r {
	display: none;
}

.img-responsive {
	height: 100%;
	margin: 0 auto;
	@include media ($mobile) {
		height: auto;
	}
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f74f42;
}
.navbar-fixed {
	.navbar-header {
		.navbar-toggle {
			.icon-bar {
				background-color: #888;
			}
		}
	}
}
.navbar-collapse {
	border: 0;
	box-shadow: none;
}

::-webkit-scrollbar {
	width: 7px;
	background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
	background: #f74f42;
	border-radius: 0;
}