.training {
	.training-col {
		text-align: center;
		img {
			max-width: 100%;
			border-radius: 50%;
			margin-bottom: 1vw;
		}
		p {
			font-size: 14px;
			color: #9c9a9b;
			margin-bottom: 1vw;
		}
	}
}